@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    background-size: bolder;
    display: block;
    color: white;
}
a:hover{
    background-color: brown;
}